<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <h6>Gastos nos últimos 30 dias</h6>
  <div id="user-spending" class="graph"></div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col spending">
  <h6>Últimos gastos</h6>
  <div>
    <ul class="mdl-list">
      <% @latest_spending.each do |credit| %>
          <li class="mdl-list__item--two-line">

          <span class="mdl-list__item-primary-content">
            <% if credit.account.icon.present? %>
                <div class="mdl-list__item-avatar icon" style="background-image: url(<%= asset_path credit.account.icon %>)"></div>
            <% elsif credit.category.present? %>
              <i class="material-icons mdl-list__item-avatar"><%= credit.category.icon %></i>
          <% else %>
            <i class="material-icons mdl-list__item-avatar">attach_money</i>
            <% end %>
            <span style="padding-left: 8px"><%= number_to_currency credit.value %> - <%= credit.name %></span>
        <span class="mdl-list__item-sub-title" style="padding-left: 48px">
          <%= l credit.date.to_date, format: :default %>
          <% if credit.category.present? %>
          - <%= credit.category.name %>
              <% end %>
        </span>
      </span>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col categories" style="display: flex; flex-direction: column">
  <h6>Gastos nos últimos 15 dias</h6>
  <div class="tag-list" style="overflow: auto">
    <% @categories.each do |category| %>
        <div class="tag">
          <div class="avatar"><i class="material-icons"><%= category.icon %></i></div>
          <span class="name"><%= category.name %></span>
          <span class="value"><%= number_to_currency category.credit_total %></span>
        </div>
    <% end %>
  </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col calendar">
  <h6>Calendário de gastos</h6>
  <div class="table-wrapper mdl-shadow--2dp">
    <div class="title">
      <%= link_to material_icon.navigate_before, calendar_path(Date.today - 1.month), remote: true, id: 'prev-month' %>
      <span id="current-month">
        <%= I18n.t("date.month_names")[Date.today.month] %>
      </span>
      <%= link_to material_icon.navigate_next, calendar_path(Date.today + 1.month), remote: true, id: 'next-month' %>
    </div>
    <table>
      <thead>
      <tr>
        <% I18n.t('date.abbr_day_names').each do |day| %>
            <th><%= day %></th>
        <% end %>
      </tr>
      </thead>
      <tbody id="calendar-table-body">
      <%= render 'calendar', spending: @spending_calendar, today: Date.today %>
      </tbody>
    </table>
  </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col bills">
  <h6>Contas a vencer</h6>
  <div class="bills-list" style="overflow: auto">
    <ul class="mdl-list">
      <% @bills.each do |bill| %>
          <li class="mdl-list__item--two-line">

          <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-avatar">attach_money</i>
            <span style="padding-left: 8px"><%= link_to bill.name, bill.billing_account %></span>
        <span class="mdl-list__item-sub-title" style="padding-left: 48px"><%= l bill.expiration.to_date, format: :default %></span>
      </span>
          </li>
      <% end %>
    </ul>
  </div>
</div>


<% content_for :body do %>
    <script type="text/javascript" charset="utf-8">
        Highcharts.chart('user-spending', {
            title: {
                text: null
            },
            xAxis: {
                categories: [<%= @spending[0].map{|d| '"' + d.strftime('%d/%m') + '"'}.join(',').html_safe %>]
            },
            yAxis: {
                title: {
                    text: 'Valor Gasto'
                }
            },
            tooltip: {
                valuePrefix: 'R$ '
            },
            series: [{
                name: 'Gastos',
                data: [<%= @spending[1].join(', ') %>]
            }],
            legend: { enabled: false },
            credits: { enabled: false },
            plotOptions: {
                series: {
                    color: '#E00'
                }
            }
        });
    </script>
<% end %>
