<%= form_for(recurring_credit) do |f| %>
  <% if recurring_credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recurring_credit.errors.count, "error") %> prohibited this recurring_credit from being saved:</h2>

      <ul>
      <% recurring_credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
<%= f.label :name %>
  </div>

  <div class="field">
    <%= f.number_field :months %>
<%= f.label :months %>
  </div>

  <div class="field">
    <%= f.number_field :day %>
<%= f.label :day %>
  </div>

  <div class="field">
    <%= f.text_field :value %>
<%= f.label :value %>
  </div>

  <div class="field">
    <%= f.text_field :account_id %>
<%= f.label :account_id %>
  </div>

  <div class="field">
    <%= f.number_field :expiration %>
<%= f.label :expiration %>
  </div>

  <div class="field">
    <%= f.text_field :interest %>
<%= f.label :interest %>
  </div>

  <div class="field">
    <%= f.text_field :fine %>
<%= f.label :fine %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
