<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recurring_debit.name %>
</p>

<p>
  <strong>Months:</strong>
  <%= @recurring_debit.months %>
</p>

<p>
  <strong>Day:</strong>
  <%= @recurring_debit.day %>
</p>

<p>
  <strong>Value:</strong>
  <%= @recurring_debit.value %>
</p>

<p>
  <strong>Account:</strong>
  <%= @recurring_debit.account %>
</p>

<%= link_to 'Edit', edit_recurring_debit_path(@recurring_debit) %> |
<%= link_to 'Back', recurring_debits_path %>
