<% content_for :title do %>Home
<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <div id="statement-graph"></div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <%= form_tag(statements_path, method: :get) do %>
      <div class="field dates">
        <span>Mostrando desde</span>
        <%= date_field_tag :from, @from %>
        <%= submit_tag 'Filtrar' %>
      </div>
  <% end %>
  <% @statements.each do |date, statements| %>
      <h2 class="date"><%= l date.to_date, format: :short %></h2>
      <div class="statements">
        <% statements.each do |statement| %>
            <div class="statement <%= statement.class.to_s.downcase %>">
              <div class="icon"></div>
              <div class="content">
                <h3>
                <span>
                  <% if statement.is_a? Credit %>Gasto<% else %>Recebimento<% end %>
                </span>
                  na conta
                  <strong><%= statement.account.name %></strong>
                  <span class="hover-show">
                  <% if statement.transfer.present? %>
                      <%= link_to 'Editar', edit_transfer_path(statement.transfer) %>
                        <%= link_to 'Excluir', transfer_path(statement.transfer), method: :delete, data: {confirm: 'Excluir transferência? Isso também irá excluir o gasto e o recebimento relacionados.'} %>
                  <% elsif statement.is_a? Credit %>
                    <%= link_to 'Editar', edit_credit_path(statement) %>
                        <%= link_to 'Excluir', credit_path(statement), method: :delete, data: {confirm: 'Excluir gasto?'} %>
                  <% else %>
                      <%= link_to 'Editar', edit_debit_path(statement) %>
                        <%= link_to 'Excluir', debit_path(statement), method: :delete, data: {confirm: 'Excluir recebimento?'} %>
                  <% end %>
                </span>
                </h3>
                <% if statement.name.present? %>
                    <div class="name"><%= statement.name %></div>
                <% end %>
                <div class="amount">
                  Valor: <%= number_to_currency statement.value %>
                </div>
                <% if statement.transfer.present? %>
                    <div>
                <span class="transfer">
                  <% if statement.is_a? Credit %>Transferência<% else %>Transferido<% end %>
                </span>
                      para
                      <strong><%= statement.transfer.debit.account.name %></strong>
                    </div>
                <% end %>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>


<% content_for :fab do %>
    <a href="javascript:openModal()" id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect"><%= material_icon.add %></a>
<% end %>
<% content_for :body do %>
    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title">Adicionar Transação</h4>
      <div class="mdl-dialog__content"><p>Escolha um tipo de transação.</p></div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <%= link_to new_debit_path, class: 'mdl-button' do %>Receita
        <% end %>
        <%= link_to new_credit_path, class: 'mdl-button' do %>Despesa
        <% end %>
        <%= link_to new_transfer_path, class: 'mdl-button' do %>Transferência
        <% end %>
        <button type="button" class="mdl-button close" onclick="closeModal()">Fechar</button>
      </div>
    </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        dialogPolyfill.registerDialog(dialog);
        function openModal() {
            dialog.showModal();
        }
        function closeModal() {
            dialog.close();
        }
        var loadChart = function() {
            Highcharts.chart('statement-graph', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    spacingBottom: 0,
                    spacingTop: 0,
                    spacingLeft: 0,
                    spacingRight: 0,
                    style: {
                        fontFamily: 'inherit'
                    }
                },
                title: { text: '' },
                series: [{
                    name: 'Movimentações',
                    innerSize: '50%',
                    data: [{
                        name: 'Gastos',
                        y: <%= @credits.sum(:value) %>,
                        color: '#EE3333'
                    }, {
                        name: 'Recebimentos',
                        y: <%= @debits.sum(:value) %>,
                        color: '#339933'
                    }],
                    dataLabels: {
                        distance: -40
                    }
                }],
                legend: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        endAngle: 90,
                        startAngle: -90
                    }
                }
            });
        };
        $(loadChart);
        $(document).on('turbolinks:load', loadChart);
    </script>
<% end %>
