<% content_for :title do %>Movimentações<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <%= form_tag(statements_path, method: :get, class: 'table-filters') do %>
      <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
        <%= select_tag :account_id, options_from_collection_for_select(current_user.accounts, :id, :name, @account_id), include_blank: true, class: 'mdl-selectfield__select' %>
        <%= label_tag :account_id, nil, class: 'mdl-selectfield__label' %>
      </div>
      <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
        <%= select_tag :period, options_for_select(@periods, @selected_period), class: 'mdl-selectfield__select' %>
        <%= label_tag :period, nil, class: 'mdl-selectfield__label' %>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= text_field_tag :search, @search, class: 'mdl-textfield__input' %>
        <%= label_tag :search, nil, class: 'mdl-textfield__label' %>
      </div>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect">Filtrar</button>
  <% end %>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <div id="results">
    Mostrando <strong><%= @statements.total_count %></strong> movimentações
    <% if @to && @from %>
        de <strong><%= l @from.to_date, format: :default %></strong> até <strong><%= l @to.to_date, format: :default %></strong>
    <% elsif @from %>
        a partir de <strong><%= l @from.to_date, format: :default %></strong>
    <% elsif @to %>
        até <strong><%= l @to.to_date, format: :default %></strong>
    <% end %>
  </div>
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-descending">Data</th>
      <th class="mdl-data-table__cell--non-numeric">Origem e Destino</th>
      <th>Valor</th>
      <th class="mdl-data-table__cell--non-numeric wide">Nome</th>
      <th class="mdl-data-table__cell--non-numeric">Tag</th>
      <th class="mdl-data-table__cell--non-numeric" style="text-align: center">Opções</th>
    </tr>
    </thead>
    <tbody>
    <% @statements.each do |statement| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= l statement.date.to_date, format: :default %></td>
          <td class="mdl-data-table__cell--non-numeric">
            <% if statement.transfer.present? %>
                <% if statement.is_a? Credit %>
                    <span class="transfer"><%= statement.account.name %></span>
                    »
                    <span class="transfer"><%= statement.transfer.debit.account.name %></span>
                <% else %>
                    <span class="transfer"><%= statement.transfer.credit.account.name %></span>
                    »
                    <span class="transfer"><%= statement.account.name %></span>
                <% end %>
            <% else %>
                <% if statement.is_a? Credit %>
                    <span class="transfer"><%= statement.account.name %></span>
                    »
                    <% if statement.bill.present? %>
                        <span class="credit"><%= statement.bill.billing_account.name %></span>
                    <% else %>
                        <span class="credit">Despesas</span>
                    <% end %>
                <% else %>
                    <span class="transfer">Receitas</span>
                    »
                    <span class="debit"><%= statement.account.name %></span>
                <% end %>
            <% end %>
          </td>
          <td><%= number_to_currency statement.value %></td>
          <td class="mdl-data-table__cell--non-numeric wide">
            <%= statement.name %>
            <% if statement.recurring_credit_id.present? %>
                (<%= statement.recurring_credit.credits.to_a.index(statement) + 1 %>/<%= statement.recurring_credit.months %>)
            <% end %>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <% if statement.tag.present? %>
                <i class="material-icons"><%= statement.tag.icon %></i>
                <%= statement.tag.name %>
            <% else %>
                -
            <% end %>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <% if statement.transfer.present? %>
                <%= link_to material_icon.edit, edit_transfer_path(statement.transfer), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
                <%= link_to material_icon.delete, statement.transfer, method: :delete, data: {confirm: 'Excluir transferência?'}, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
            <% elsif statement.recurring_credit_id.present? %>
                <%= link_to material_icon.edit, edit_recurring_credit_path(statement.recurring_credit), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
                <%= link_to material_icon.delete, statement.recurring_credit, method: :delete, data: {confirm: 'Excluir parcelamento?'}, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
            <% elsif statement.is_a? Credit %>
                <%= link_to material_icon.edit, edit_credit_path(statement), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
                <%= link_to material_icon.delete, statement, method: :delete, data: {confirm: 'Excluir despesa?'}, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
            <% else %>
                <%= link_to material_icon.edit, edit_debit_path(statement), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
                <%= link_to material_icon.delete, statement, method: :delete, data: {confirm: 'Excluir receita?'}, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @statements %>
</div>
<%= render 'modal' %>
<% content_for :drawer do %>
    <div class="account-totals">
      <h6>Contas</h6>
      <ul>
        <% @accounts.each do |account| %>
            <li class="account">
              <div class="account-name">
                <%= link_to account.name, account_path(account) %>
              </div>
              <div class="account-total">
                <% if account.type.nil? %>
                    Saldo: <span class="<%= 'negative' if account.balance < 0 %>"><%= number_to_currency account.balance %></span>
                <% elsif account.is_a? CreditCard %>
                    Total a pagar: <span><%= number_to_currency account.total_due %></span><br>
                    Limite disponível:
                    <span class="<%= 'negative' if account.available_limit <= 0 %>"><%= number_to_currency account.available_limit %></span>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
<% end %>
