<% @statements.each do |date, statements| %>
    <h2 class="date"><%= l date, format: :short %></h2>
    <div class="statements">
      <% statements.each do |statement| %>
          <div class="statement <%= statement.class.to_s.downcase %>">
            <div class="icon"></div>
            <div class="content">
              <h3>
                <span>
                  <% if statement.is_a? Credit %>Gasto<% else %>Recebimento<% end %>
                </span>
                na conta
                <strong><%= statement.account.name %></strong>
                <span class="hover-show">
                  <% if statement.is_a? Credit %>
                  <%= link_to 'Editar', edit_credit_path(statement) %>
                      <%= link_to 'Excluir', credit_path(statement), method: :delete, data: {confirm: 'Excluir gasto?'} %>
                  <% else %>
                  <%= link_to 'Editar', edit_debit_path(statement) %>
                      <%= link_to 'Excluir', debit_path(statement), method: :delete, data: {confirm: 'Excluir recebimento?'} %>
                  <% end %>
                </span>
              </h3>
              <% if statement.name.present? %>
                  <div class="name"><%= statement.name %></div>
              <% end %>
              <div class="amount">
                Valor: <%= number_to_currency statement.value %>
              </div>
              <% if statement.transfer.present? %>
                  <div>
                <span class="transfer">
                  <% if statement.is_a? Credit %>Transferência<% else %>Transferido<% end %>
                </span>
                    para
                    <strong><%= statement.transfer.debit.account.name %></strong>
                  </div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Data</th>
    <% @accounts.each do |account| %>
        <th><%= account.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
  <tr>
    <td>Saldo:</td>
    <% @accounts.each do |account| %>
        <th><%= number_to_currency(account.balance) %></th>
    <% end %>
  </tr>
  </tfoot>
</table>
<% content_for :fab do %><a href="javascript:openModal()" id="fab"><%= material_icon.add %></a>
<% end %>
<% content_for :body do %>
    <div class="modal-backdrop" id="new-statement" onclick="closeModal(event, this)">
      <div class="modal">
        <div class="header">
          <h2>Adicionar Transação</h2>
          <a href="javascript:closeModal()"><%= material_icon.close %></a>
        </div>
        <div class="link-list">
          <%= link_to new_debit_path do %>
              <img src="/svg/dollar-bill-and-coins.svg">
              <span>Recebimento</span>
          <% end %>
          <%= link_to new_credit_path do %>
              <img src="/svg/dollar-bill-and-coins.svg">
              <span>Gasto</span>
          <% end %>
          <%= link_to new_transfer_path do %>
              <img src="/svg/dollar-bill-and-coins.svg">
              <span>Transferência</span>
          <% end %>
        </div>
      </div>
    </div>
    <script>
      function openModal() {
        document.getElementById('new-statement').classList.add('open');
      }
      function closeModal(event, element) {
        if (event === undefined || event.target == element) {
          document.getElementById('new-statement').classList.remove('open');
        }
      }
    </script>
<% end %>
