<% content_for :toolbar_left do %><%= link_to material_icon.chevron_left, @bill.billing_account, class: 'mdl-button mdl-js-button mdl-button--icon' %>
<% end %>
<% content_for :title do %><%= @bill.name %>
<% end %>
<% content_for :toolbar_right do %>
    <%= link_to material_icon.edit, edit_bill_path(@bill), class: 'mdl-button mdl-js-button mdl-button--icon' %>
<% end %>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col info">
  <div class="name">
    <h6><%= @bill.name %></h6>
    <span><%= number_to_currency @bill.value %></span>
  </div>
  <% if @bill.expiration.present? %>
      <div class="expiration">
        <p>Vence em <%= l @bill.expiration.to_date, format: :default %>,
          <% if @bill.expiration - DateTime.now < 0 # j치 foi    %>
              <%= distance_of_time_in_words DateTime.now, @bill.expiration %> atr치s
          <% else %>
              daqui <%= distance_of_time_in_words DateTime.now, @bill.expiration %>
          <% end %>
        </p>
      </div>
  <% end %>
  <% if @bill.barcode.present? %>
      <div class="barcode">
        <span>C칩digo de barras:</span>
        <div>
          <%= @bill.svg_barcode.html_safe %>
        </div>
        <span>Linha digit치vel:</span>
        <div>
          <%= @bill.rendered_barcode %>
        </div>
      </div>
  <% end %>
  <% if @bill.attachment.file.present? %>
      <div class="attachment">
        <span>Anexo:</span>
        <% if %w(png gif jpg jpeg bmp tif tiff).include? @bill.attachment.file.extension.downcase %>
            <img src="<%= @bill.attachment %>" alt="Anexo">
        <% else %>
            <%= link_to 'Visualizar', @bill.attachment.to_s, class: 'mdl-button mdl-js-button mdl-button--primary', target: '_blank' %>
        <% end %>
      </div>
  <% end %>
</div>
