<% content_for :title do %>Grupos de Despesas<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending wide">Nome</th>
      <th class="mdl-data-table__cell--non-numeric" style="text-align: center">Opções</th>
    </tr>
    </thead>
    <tbody>
    <% @billing_accounts.each do |billing_account| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric wide">
            <%= link_to billing_account.name, billing_account %>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <%= link_to material_icon.edit, edit_billing_account_path(billing_account), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
            <%= link_to material_icon.delete, billing_account, method: :delete, data: {confirm: 'Excluir grupo? Isto irá excluir todas as despesas dele.'}, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @billing_accounts %>
</div>
<% content_for :fab do %>
    <%= link_to material_icon.add, new_billing_account_path, id: :fab, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect' %>
<% end %>
