<% content_for :toolbar_left do %><%= link_to material_icon.chevron_left, billing_accounts_path, class: 'mdl-button mdl-js-button mdl-button--icon' %><% end %>
<% content_for :title do %><%= @billing_account.name %>
<% end %>
<% content_for :toolbar_right do %>
    <%= link_to material_icon.edit, edit_billing_account_path(@billing_account), class: 'mdl-button mdl-js-button mdl-button--icon' %>
<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col billing-account-header">
  <div class="title">
    <h6><%= @billing_account.name %></h6>
    <% unless @billing_account.enabled %>
        <p class="disabled">Não habilitado</p>
    <% end %>
  </div>
  <p class="total">
    Total a pagar: <%= number_to_currency @billing_account.bills.where(credit: nil).sum(:value) %>
  </p>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col billing-account-filters">
	<% if params[:status] == 'paid' %>
		<span>Mostrando contas já pagas</span>
	<% elsif params[:status] == 'unpaid' %>
		<span>Mostrando contas a pagar</span>
	<% else %>
		<span>Mostrando todas as contas</span>
	<% end %>
	<div style="display: flex">
	<%= link_to 'Todas', show_params.merge(status: nil), class: 'mdl-button mdl-js-button mdl-button--primary mdl-button--raised' %>
	<%= link_to 'Pagas', show_params.merge(status: 'paid'), class: 'mdl-button mdl-js-button mdl-button--primary mdl-button--raised', style: 'margin-left: 8px' %>
	<%= link_to 'A Pagar', show_params.merge(status: 'unpaid'), class: 'mdl-button mdl-js-button mdl-button--primary mdl-button--raised', style: 'margin-left: 8px' %>
	</div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col billing-account-bills">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
    <tr>
      	<th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-<% if params[:status] == 'unpaid' %>ascending<% else %>descending<% end %>">Vencimento</th>
      <th class="mdl-data-table__cell--non-numeric wide">Nome</th>
      <th style="text-align: center">Valor</th>
      <% if @billing_account.enabled %>
          <th class="mdl-data-table__cell--non-numeric">Pago?</th>
          <% end %>
      <th class="mdl-data-table__cell--non-numeric" style="text-align: center">Opções</th>
    </tr>
    </thead>
    <tbody>
    <% @bills.each do |bill| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric" style="text-align: center"><%= bill.expiration ? l(bill.expiration.to_date, format: :default) : '-' %></td>
          <td class="mdl-data-table__cell--non-numeric wide">
            <%= link_to bill.name, bill %>
          </td>
          <td><%= number_to_currency bill.value %></td>
          <% if @billing_account.enabled %>
          <td class="mdl-data-table__cell--non-numeric" style="text-align: center">
            <% if bill.credit.present? %>
                <%= material_icon.done %>
            <% else %>
                <%= material_icon.clear %>
            <% end %>
          </td>
              <% end %>
          <td class="mdl-data-table__cell--non-numeric">
            <% if bill.credit.present? || !@billing_account.enabled %>
                <button disabled type="button" class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary" title="Pagar"><%= material_icon.attach_money %></button>
            <% else %>
                <%= link_to material_icon.attach_money, bill_pay_form_path(bill), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary', title: 'Pagar', data: {remote: true} %>
            <% end %>
            <%= link_to material_icon.edit, edit_bill_path(bill), class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary', title: 'Editar' %>
            <%= link_to material_icon.delete, bill, method: :delete, data: {confirm: 'Excluir despesa?'}, class: 'mdl-button mdl-js-button mdl-button--icon mdl-button--primary', title: 'Excluir' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @bills %>
</div>
<% content_for :fab do %>
    <%= link_to material_icon.add, new_billing_account_bill_path(@billing_account), id: :fab, class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect' %>
<% end %>
