<%= form_for(credit) do |f| %>
    <% if credit.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

          <ul>
            <% credit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div style="display: flex">
      <div class="field" style="flex: 1">
        <%= f.label :value %>
        <%= f.number_field :value %>
      </div>
      <div class="actions" style="padding-top: 15px; padding-left: 8px">
        <%= f.submit %>
      </div>
    </div>

    <div class="field">
      <%= f.label :date %>
      <div class="date">
        <%= f.date_select :date %>
      </div>
    </div>

    <div class="field">
      <%= f.label :account_id %>
      <%= f.collection_select :account_id, current_user.accounts, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

<% end %>
