<%= form_for(credit) do |f| %>
    <% if credit.errors.any? %>
        <div id="error_explanation">
          <h2>Erro ao salvar o gasto:</h2>

          <ul>
            <% credit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_field :value, data: {money: 'true'} %>
      <%= f.label :value %>
    </div>

    <div class="field">
      <%= f.date_field :date %>
      <%= f.label :date %>
    </div>

    <div class="field">
      <%= f.collection_select :account_id, current_user.accounts, :id, :name %>
      <%= f.label :account_id %>
    </div>

    <div class="field">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>

    <div class="field">
      <%= f.number_field :months %>
      <%= f.label :months %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>

<% if !credit.new_record? && credit.months == 1 %>
    <h2 style="margin: 8px 0">Transformar em Transferência</h2>
    <%= form_tag to_transfer_credit_path(credit), method: :post do %>
        <div style="display: flex">
          <div class="field" style="flex: 1">
            <%= select_tag :account_id, options_from_collection_for_select(current_user.accounts.where('type <> ? OR type IS NULL AND id <> ?', 'BillingAccount', credit.account.id), :id, :name)  %>
            <%= label_tag :account_id, 'Conta de Destino' %>
          </div>
          <div class="actions" style="padding-top: 18px; padding-left: 8px">
            <%= submit_tag 'Transformar' %>
          </div>
        </div>
    <% end %>
<% end %>
