<%= form_for(debit) do |f| %>
    <% if debit.errors.any? %>
        <div id="error_explanation">
          <h2>Não foi possível salvar o recebimento:</h2>

          <ul>
            <% debit.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.text_field :value, data: {money: 'true'} %>
      <%= f.label :value %>
    </div>

    <div class="field">
      <%= f.date_field :date %>
      <%= f.label :date %>
    </div>

    <div class="field">
      <%= f.collection_select :account_id, current_user.accounts.where(type: [nil, 'Account']), :id, :name %>
      <%= f.label :account_id %>
    </div>

    <div class="field">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
