<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
<div id="header-container">
  <label for="toggle-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <header id="header">
    <input type="checkbox" id="toggle-menu">
    <nav id="menu">
      <%= link_to 'Home', statements_path %>
      <%= link_to 'Contas', accounts_path %>
    </nav>
    <label for="toggle-menu" id="overlay"></label>
    <%= yield :toolbar_left %>
    <h1>
      <% if content_for? :title %><%= yield :title %>
      <% else %>Money
      <% end %>
    </h1>
    <%= yield :toolbar_right %>
    <% if current_user %>
    	<span><%= current_user.email %></span>
    	<%= link_to material_icon.exit_to_app, destroy_user_session_path, method: :delete %>
    <% end %>
  </header>
</div>
<div id="content">
  <%= yield %>
</div>
<%= yield :fab %>
<%= yield :body %>
</body>
</html>
