<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="<%= params[:controller] %>-<%= params[:action] %>">
<div id="header-container">
  <%= yield :toolbar_left %>
  <% unless content_for? :toolbar_left %>
      <label for="toggle-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </label>
  <% end %>
  <header id="header">
    <input type="checkbox" id="toggle-menu">
    <nav id="menu">
      <div class="background">
        <%= link_to edit_user_registration_path do %>
            <span>Usuário</span>
            <strong><%= current_user.email %></strong>
        <% end %>
      </div>
      <div class="links">
        <%= link_to 'Home', statements_path %>
        <%= link_to 'Contas', accounts_path %>
      </div>
      <div class="separator"></div>
      <div class="links">
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      </div>
    </nav>
    <label for="toggle-menu" id="overlay"></label>
    <h1>
      <% if content_for? :title %><%= yield :title %>
      <% else %>Money
      <% end %>
    </h1>
    <%= yield :toolbar_right %>
  </header>
</div>
<div id="scrollable">
  <div id="content">
    <%= yield %>
  </div>
</div>
<%= yield :fab %>
<%= yield :body %>
</body>
</html>
