<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/money.png">
</head>

<body>
<div id="header-container">
  <label for="toggle-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>
  <header id="header">
    <input type="checkbox" id="toggle-menu">
    <nav id="menu">
      <%= link_to 'Home', statements_path %>
      <%= link_to 'Contas', accounts_path %>
    </nav>
    <label for="toggle-menu" id="overlay"></label>
    <h1>
      <% if content_for? :title %><%= yield :title %>
      <% else %>Money
      <% end %>
    </h1>
    <% if current_user %>
    	<span><%= current_user.email %></span>
    	<%= link_to material_icon.exit_to_app, destroy_user_session_path, method: :delete %>
    <% end %>
  </header>
</div>
<div id="content">
  <%= yield %>
</div>
<% if content_for? :fab %>
    <%= yield :fab %>
<% end %>
<%= yield :body %>
</body>
</html>
