<!DOCTYPE html>
<html>
<head>
  <title>Money</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body class="<%= params[:controller].split('/')[-1] %>-<%= params[:action] %>">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="header mdl-layout__header">
    <div class="mdl-layout__header-row">
      <%= yield :toolbar_left %>
      <span class="mdl-layout-title">
        <% if content_for? :title %><%= yield :title %>
      <% else %>Money
      <% end %>
      </span>
      <div class="mdl-layout-spacer"></div>
      <%= yield :toolbar_right %>
    </div>
  </header>
  <div class="drawer mdl-layout__drawer">
    <header class="drawer-header">
      <div class="avatar-dropdown">
        <span><%= current_user.email %></span>
        <div class="mdl-layout-spacer"></div>
        <button id="profilebtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <%= material_icon.arrow_drop_down %>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="profilebtn">
          <li class="mdl-menu__item"><%= link_to 'Perfil', edit_user_registration_path %></li>
          <li class="mdl-menu__item"><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </header>
    <nav class="navigation mdl-navigation<%= ' no-stretch' if content_for? :drawer %>">
      <%= link_to root_path, class: 'mdl-navigation__link' do %><%= material_icon.dashboard %>Home<% end %>
      <%= link_to statements_path, class: 'mdl-navigation__link' do %><%= material_icon.receipt %>Movimentações<% end %>
      <%= link_to accounts_path, class: 'mdl-navigation__link' do %><%= material_icon.chrome_reader_mode %>Contas<% end %>
      <%= link_to billing_accounts_path, class: 'mdl-navigation__link' do %><%= material_icon.attach_money %>Despesas<% end %>
      <%= link_to tags_path, class: 'mdl-navigation__link' do %><%= material_icon.grade %>Tags<% end %>
    </nav>
    <%= yield :drawer %>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid content"><%= yield %></div>
    <%= yield :fab %>
  </main>
</div>
<%= yield :body %>
<% if flash[:notice] %>
    <div id="toast" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
    <script type="text/javascript" charset="utf-8">
      var f = function() {
          document.querySelector('#toast').MaterialSnackbar.showSnackbar({message: '<%= notice %>'});
      };
      $(f);
      $(document).on('turbolinks:load', f);
    </script>
<% end %>
</body>
</html>
