<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @account.expiration %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.type %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @account.interest %>
</p>

<p>
  <strong>Fine:</strong>
  <%= @account.fine %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
